@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'colors';
@import 'nav';
@import 'hero';

body {
  background-color: $bg;
  color: $dark-gray;

  header {
    background-color: $secondary;
    color: $bg;
    text-transform: uppercase;
    a {
      color: $bg;
    }
  } // End of header
  section {
    @include outer-container;
    text-align: center;
    padding: 25px;
    h3.section-title {
      margin-top: 26px;
      font-size: 32px;
      color: $secondary;
      text-transform: uppercase;
      @include media($sm-md) {
        margin-top: 20px;
      }
    }
    div[class^="heading-underline-"] {
      width: 80%;
      height: 2px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .heading-underline-light {
      @include linear-gradient(to right, rgba(255,255,255,.01) 0%, $bg 50%, $bg 51%, rgba(255,255,255,.01) 100%);
    }
    .heading-underline-dark {
      @include linear-gradient(to right, rgba(255,255,255,.01) 0%, $secondary 50%, $secondary 51%, rgba(255,255,255,.01) 100%);
    }
  }
  .secondary-bg {
    color: $bg;
    background-color: $primary;
    h3.section-title {
      color: $bg;
    }
  }
  #about {
    .about {
      font-size: 22px;
      padding: 0 5%;
      text-align: left;
      line-height: 32px;
      span {
        font-size: 28px;
      }
      #learning {
        font-weight: bold;
        font-size: 25px;
      }
      @include media($sm-md) {
        font-size: 18px;
        #learning {
          font-size: 18px;
        }
        span {
          font-size: 20px;
        }
      }
      #resume {
        font-weight: bold;
      }
      .resume {
        background-color: $secondary;
        color: $bg;
        padding: 10px 15px;
        text-decoration: none;
        transition: all .2s;
        img {
          display: inline-block;
          width: 24px;
          margin-bottom: -7px;
        }

        &:hover {
          background-color: darken($secondary, 10%);
        }
      }
    }
  }
  #skills {
    img, p {
      @include span-columns(2);
      height: 74px;
      margin-bottom: 50px;
    }
    p {
      font-size: 24px;
      @include media($medium) {
        font-size: 20px;
      }
      @media(max-width: 875px) {
        font-size: 16px;
      }
    }
    .first {
      @include shift(1);
    }
  }

  #projects {
    .project {
      @include span-columns(6);
      @include omega(2n);
      @include media($medium) {
        @include span-columns(10);
        @include shift(1);
      }
      @include media($sm-md) {
        @include span-columns(4);
        @include shift(0);
        padding: 5px 15px;
      }
      background-color: darken($bg, 5%);
      padding: 20px 25px;
      margin-bottom: 50px;
      border-radius: 5px;
      .project-title {
        @include span-columns(3 of 6);
        @include media($sm-md) {
          @include span-columns(2);
          font-size: 20px;
        }
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin-top: ((86px - 28px)/2);
      }
      .project-links {
        height: 38px;
        margin: 24px 0;
        @include span-columns(3 of 6);
        @include omega();
        @include media($sm-md) {
          @include span-columns(2);
          @include omega();
        }
        .social-link {
          float: right;
          &:nth-child(2) {
            margin-right: 10px;
          }
          display: inline-block;
          min-width: 80px;
          background-color: $social-link;
          padding: 10px;
          text-decoration: none;
          color: $bg;
          border-radius: 4px;
          transition: all .3s;
          &:hover {
            background-color: darken($social-link, 15%);
          }
          img {
            margin-right: 7px;
            width: 20px;
            height: 20px;
            margin-bottom: -4px;
            @include media($medium) {
              display: none;
            }
          }
          @include media($sm-md) {
            min-width: 60px;
            font-size: 14px;
            padding: 6px;
          }
        } // End of .social-link
      }
      img.project-screenshot {
        @include span-columns(12);
        border: 1px solid darken($bg, 10%);
      }
      .project-info {
        @include span-columns(12);
        text-align: left;
        font-size: .9em;
        margin-top: 10px;
        line-height: 1.1em;
        span {
          font-weight: bold;
          font-size: 1.1em;
          margin-right: 5px;
        }
      } // End of .project-info
    }
  } // End of #projects

  #contact {
    ul {
      padding: 0;
      margin-bottom: 50px;
      li {
        list-style: none;
        @include span-columns(3);
        @include media($sm-md) {
          @include span-columns(2);
          @include omega(2n);
          margin-bottom: 25px;
        }
        margin-bottom: 50px;
        a {
          display: inline-block;
          text-decoration: none;
          color: $bg;
          transition: all .2s;
          img {
            margin-top: 20px;
            display: inline-block;
            padding: 8px 8px;
            border-radius: 32px;
            background-color: $bg;
            &:hover {
              background-color: lighten($bg, 10%);
            }
          } // End of img
          p {
            margin-top: 5px;
          }
          &:hover {
            margin-top: -10px;
          }
        }
      }
    }
  } // End of #Contact
} // End of body
