@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header.navigation {
  position: fixed;
  background-color: #517F7F;
  border-bottom: 1px solid #3d6060;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  @media (max-width: 376px) {
    header.navigation {
      margin-top: -50px; } }
  header.navigation .navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: #F5F5F5;
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: right; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #517F7F;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding: 0 .4em;
    text-align: center;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: #F5F5F5;
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding: 0 .5em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: #F5F5F5; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu,
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #4b7676;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #517F7F;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }

.navigation-menu > li > a {
  position: relative; }

@media (min-width: 860px) {
  .navigation-menu > li > a::after {
    position: absolute;
    top: 72%;
    left: 0;
    height: 2px;
    width: 100%;
    content: '';
    background-color: #f5f5f5;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.2s, transform 0.2s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  .navigation-menu > li > a:hover::after, .navigation-menu > li > a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); } }

.hero {
  background: url("../img/herobg.jpg"), -webkit-linear-gradient(-280deg, #20392B, #7F99BE), no-repeat;
  background: url("../img/herobg.jpg"), linear-gradient(10deg, #20392B, #7F99BE), no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.7em 0;
  color: #F5F5F5;
  text-transform: uppercase; }
  @media screen and (max-width: 1030px) {
    .hero {
      padding: 2em 0; } }
  @media screen and (max-width: 376px) {
    .hero {
      padding: 0; } }
  .hero .hero-logo img {
    height: 3 em;
    margin-bottom: 1em; }
  .hero .hero-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    margin-top: 50px;
    padding: 2.5em;
    text-align: center; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 376px) {
      .hero .hero-inner {
        padding: 20px; } }
    @media screen and (max-width: 376px) {
      .hero .hero-inner .name {
        font-size: 1.4em; } }
    @media screen and (max-width: 376px) {
      .hero .hero-inner .job-title {
        font-size: 1.1em; } }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        color: #F5F5F5;
        font-size: 1.6em;
        margin-bottom: 0.5em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }

@font-face {
  font-family: 'chadthecoder';
  src: url("../fonts/chadthecoder.eot?z3eyfd");
  src: url("../fonts/chadthecoder.eot?z3eyfd#iefix") format("embedded-opentype"), url("../fonts/chadthecoder.ttf?z3eyfd") format("truetype"), url("../fonts/chadthecoder.woff?z3eyfd") format("woff"), url("../fonts/chadthecoder.svg?z3eyfd#chadthecoder") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #78BEBD; }

.icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.icon:before {
  font-family: 'chadthecoder';
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-github_contact:before {
  content: "\e900"; }

.icon-envelop:before {
  content: "\e945"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-linkedin2:before {
  content: "\eaca"; }

.contact-links .icon {
  color: #F5F5F5;
  box-shadow: 0 0 0 5px #F5F5F5;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s; }

.contact-links .icon:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #78BEBD;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s; }

.contact-links .icon:hover:after {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
  -moz-transition: -moz-transform 0.4s, opacity 0.2s;
  transition: transform 0.4s, opacity 0.2s; }

.contact-links .icon:hover {
  color: #fff; }

body {
  background-color: #F5F5F5;
  color: #5C5C5C; }
  body header {
    background-color: #517F7F;
    color: #F5F5F5;
    text-transform: uppercase; }
    body header a {
      color: #F5F5F5; }
  body section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 25px; }
    body section::after {
      clear: both;
      content: "";
      display: table; }
    body section h3.section-title {
      margin-top: 26px;
      font-size: 32px;
      color: #517F7F;
      text-transform: uppercase; }
      @media screen and (max-width: 560px) {
        body section h3.section-title {
          margin-top: 20px; } }
    body section div[class^="heading-underline-"] {
      width: 80%;
      height: 2px;
      margin: 0 auto;
      margin-bottom: 50px; }
    body section .heading-underline-light {
      background-color: rgba(255, 255, 255, 0.01);
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, #F5F5F5 50%, #F5F5F5 51%, rgba(255, 255, 255, 0.01) 100%);
      background-image: linear-gradient(to right,rgba(255, 255, 255, 0.01) 0%, #F5F5F5 50%, #F5F5F5 51%, rgba(255, 255, 255, 0.01) 100%); }
    body section .heading-underline-dark {
      background-color: rgba(255, 255, 255, 0.01);
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, #517F7F 50%, #517F7F 51%, rgba(255, 255, 255, 0.01) 100%);
      background-image: linear-gradient(to right,rgba(255, 255, 255, 0.01) 0%, #517F7F 50%, #517F7F 51%, rgba(255, 255, 255, 0.01) 100%); }
  body .secondary-bg {
    color: #F5F5F5;
    background-color: #78BEBD; }
    body .secondary-bg h3.section-title {
      color: #F5F5F5; }
  body #about {
    padding-bottom: 50px; }
    body #about .about {
      font-size: 22px;
      padding: 0 5%;
      text-align: left;
      line-height: 32px; }
      body #about .about span {
        font-size: 28px; }
      body #about .about #learning {
        font-weight: bold;
        font-size: 25px; }
      @media screen and (max-width: 560px) {
        body #about .about {
          font-size: 18px; }
          body #about .about #learning {
            font-size: 18px; }
          body #about .about span {
            font-size: 20px; } }
      body #about .about #resume {
        font-weight: bold; }
      body #about .about .resume {
        background-color: #517F7F;
        color: #F5F5F5;
        padding: 10px 15px;
        text-decoration: none;
        transition: all .2s;
        border-radius: 3px; }
        body #about .about .resume img {
          display: inline-block;
          width: 24px;
          margin-bottom: -7px; }
        body #about .about .resume:hover {
          background-color: #3d6060; }
  body #skills img, body #skills p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    height: 74px;
    margin-bottom: 50px; }
    body #skills img:last-child, body #skills p:last-child {
      margin-right: 0; }
  body #skills p {
    font-size: 24px; }
    @media screen and (max-width: 1030px) {
      body #skills p {
        font-size: 20px; } }
    @media (max-width: 875px) {
      body #skills p {
        font-size: 16px; } }
  body #skills .first {
    margin-left: 8.5298%; }
  body #projects .project {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    background-color: #e8e8e8;
    border: 1px solid #e6e6e6;
    padding: 20px 25px;
    margin-bottom: 50px;
    border-radius: 5px; }
    body #projects .project:last-child {
      margin-right: 0; }
    body #projects .project:nth-child(2n) {
      margin-right: 0; }
    body #projects .project:nth-child(2n+1) {
      clear: left; }
    @media screen and (max-width: 1030px) {
      body #projects .project {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%; }
        body #projects .project:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 560px) {
      body #projects .project {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-left: 0%;
        padding: 5px 15px; }
        body #projects .project:last-child {
          margin-right: 0; } }
    body #projects .project .project-type {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%;
      text-align: left;
      margin: 0; }
      body #projects .project .project-type:last-child {
        margin-right: 0; }
      body #projects .project .project-type span {
        background-color: #78BEBD;
        color: #F5F5F5;
        border: 1px solid #71bbba;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px 8px;
        border-radius: 2px; }
        body #projects .project .project-type span img {
          margin-right: 5px; }
      @media screen and (max-width: 560px) {
        body #projects .project .project-type {
          margin-top: 10px;
          margin-bottom: -10px; } }
    body #projects .project .project-title {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%;
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      margin-top: 29px; }
      body #projects .project .project-title:last-child {
        margin-right: 0; }
      @media screen and (max-width: 560px) {
        body #projects .project .project-title {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 46.28851%;
          font-size: 20px; }
          body #projects .project .project-title:last-child {
            margin-right: 0; } }
    body #projects .project .project-links {
      height: 38px;
      margin: 24px 0;
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%;
      margin-right: 0; }
      body #projects .project .project-links:last-child {
        margin-right: 0; }
      @media screen and (max-width: 560px) {
        body #projects .project .project-links {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 46.28851%;
          margin-right: 0; }
          body #projects .project .project-links:last-child {
            margin-right: 0; } }
      body #projects .project .project-links .social-link {
        float: right;
        display: inline-block;
        min-width: 80px;
        background-color: #898989;
        padding: 10px;
        text-decoration: none;
        color: #F5F5F5;
        border-radius: 4px;
        transition: all .3s; }
        body #projects .project .project-links .social-link:nth-child(2) {
          margin-right: 10px; }
        body #projects .project .project-links .social-link:hover {
          background-color: #636363; }
        body #projects .project .project-links .social-link img {
          margin-right: 7px;
          width: 20px;
          height: 20px;
          margin-bottom: -4px; }
          @media screen and (max-width: 1030px) {
            body #projects .project .project-links .social-link img {
              display: none; } }
        @media screen and (max-width: 560px) {
          body #projects .project .project-links .social-link {
            min-width: 60px;
            font-size: 14px;
            padding: 6px; } }
    body #projects .project img.project-screenshot {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      border: 1px solid gainsboro; }
      body #projects .project img.project-screenshot:last-child {
        margin-right: 0; }
    body #projects .project .project-info {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: left;
      font-size: .9em;
      margin-top: 10px;
      line-height: 1.1em; }
      body #projects .project .project-info:last-child {
        margin-right: 0; }
      body #projects .project .project-info span {
        display: inline-block;
        font-weight: bold;
        font-size: 1.1em;
        margin-right: 5px; }
      body #projects .project .project-info p > span {
        margin-bottom: 8px; }
      body #projects .project .project-info .project-tech ul.techtags {
        color: #F5F5F5;
        padding: 0;
        margin-top: 8px; }
        body #projects .project .project-info .project-tech ul.techtags li {
          display: inline-block;
          list-style: none;
          padding: 3px 5px;
          font-size: 10px;
          font-weight: bold;
          border-radius: 1px;
          margin-bottom: 5px;
          margin-right: 3px; }
          body #projects .project .project-info .project-tech ul.techtags li::before {
            background-size: 11px 11px;
            display: inline-block;
            margin-right: 3px;
            margin-bottom: -2px;
            width: 11px;
            height: 11px;
            content: ""; }
        body #projects .project .project-info .project-tech ul.techtags .html {
          background-color: #E24E30; }
          body #projects .project .project-info .project-tech ul.techtags .html::before {
            background-image: url("../img/html5.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .html::after {
            content: "HTML5"; }
        body #projects .project .project-info .project-tech ul.techtags .css {
          background-color: #1E73B4; }
          body #projects .project .project-info .project-tech ul.techtags .css::before {
            background-image: url("../img/css3.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .css::after {
            content: "CSS3"; }
        body #projects .project .project-info .project-tech ul.techtags .js {
          background-color: #2D2E2A; }
          body #projects .project .project-info .project-tech ul.techtags .js::before {
            background-image: url("../img/javascriptdark.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .js::after {
            content: "JavaScript"; }
        body #projects .project .project-info .project-tech ul.techtags .jquery {
          background-color: #226096; }
          body #projects .project .project-info .project-tech ul.techtags .jquery::before {
            background-image: url("../img/jquery.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .jquery::after {
            content: "jQuery"; }
        body #projects .project .project-info .project-tech ul.techtags .angular {
          background-color: #B3443E; }
          body #projects .project .project-info .project-tech ul.techtags .angular::before {
            background-image: url("../img/angularjs.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .angular::after {
            content: "AngularJS"; }
        body #projects .project .project-info .project-tech ul.techtags .mongo {
          background-color: #448F47; }
          body #projects .project .project-info .project-tech ul.techtags .mongo::before {
            background-image: url("../img/mongodb.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .mongo::after {
            content: "MongoDB"; }
        body #projects .project .project-info .project-tech ul.techtags .node {
          background-color: #80BB4A; }
          body #projects .project .project-info .project-tech ul.techtags .node::before {
            background-image: url("../img/nodejs.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .node::after {
            content: "Node.js"; }
        body #projects .project .project-info .project-tech ul.techtags .ruby {
          background-color: #C32730; }
          body #projects .project .project-info .project-tech ul.techtags .ruby::before {
            background-image: url("../img/ruby.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .ruby::after {
            content: "Ruby"; }
        body #projects .project .project-info .project-tech ul.techtags .rails {
          background-color: #942E43; }
          body #projects .project .project-info .project-tech ul.techtags .rails::before {
            background-image: url("../img/rails.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .rails::after {
            content: "Ruby on Rails"; }
        body #projects .project .project-info .project-tech ul.techtags .postgresql {
          background-color: #376080; }
          body #projects .project .project-info .project-tech ul.techtags .postgresql::before {
            background-image: url("../img/postgresql.svg"); }
          body #projects .project .project-info .project-tech ul.techtags .postgresql::after {
            content: "PostgreSQL"; }
        body #projects .project .project-info .project-tech ul.techtags .express {
          background-color: #cfcfcf; }
          body #projects .project .project-info .project-tech ul.techtags .express::before {
            background-size: 0 0;
            width: 0;
            height: 0;
            content: ""; }
          body #projects .project .project-info .project-tech ul.techtags .express::after {
            content: "Express"; }
        body #projects .project .project-info .project-tech ul.techtags li.dark {
          color: #2D2E2A; }
  body #contact ul {
    padding: 0;
    margin-bottom: 50px; }
    body #contact ul li {
      list-style: none;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-bottom: 50px; }
      body #contact ul li:last-child {
        margin-right: 0; }
      @media screen and (max-width: 560px) {
        body #contact ul li {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 46.28851%;
          margin-bottom: 25px; }
          body #contact ul li:last-child {
            margin-right: 0; }
          body #contact ul li:nth-child(2n) {
            margin-right: 0; }
          body #contact ul li:nth-child(2n+1) {
            clear: left; } }
      body #contact ul li a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        transition: all .2s; }
        body #contact ul li a:hover {
          color: #78BEBD;
          background-color: #F5F5F5; }
      body #contact ul li p {
        font-size: 24px;
        margin-top: 0; }
      body #contact ul li .icon {
        font-size: 24px; }

/*# sourceMappingURL=style.css.map */
